{
  "module": {
    "type": "commonjs"
  },

  "jsc": {
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    },
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "target": "es2016",
    "loose": true
  }
}
