name: Publish to GitHub

on:
  push:
    branches:
      - release/*

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v3
      # Setup .npmrc file to publish to GitHub Packages
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://npm.pkg.github.com'
          # scope: '@currents-dev'
      - run: npm ci
      # - run: ./scripts/rewrite_package.js
      - name: Release
        # only release npm package and create github release
        run: |
          git config --global user.email "agoldis@gmail.com"
          git config --global user.name "Andrew Goldis"        
          npm run release-ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
